In [5]:
import pandas as pd

In [2]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is FEFA-69F6

 Directory of C:\Users\d_cam\OneDrive\Documents\GitHub\COVID19

06/17/2021  12:18 PM    <DIR>          .
06/17/2021  12:18 PM    <DIR>          ..
06/17/2021  12:18 PM    <DIR>          .ipynb_checkpoints
06/14/2021  08:26 PM            20,253 Combiner.ipynb
06/14/2021  08:26 PM             5,033 COVID-19-References.ipynb
06/17/2021  12:17 PM    <DIR>          Data
06/17/2021  12:17 PM                72 FinalProject.ipynb
06/14/2021  08:04 PM               158 README.md
06/17/2021  12:08 PM           140,379 Wrangling_JHU_COVID-19_Data.ipynb
               5 File(s)        165,895 bytes
               4 Dir(s)  28,462,944,256 bytes free

In [3]:
!dir Data

 Volume in drive C is Windows
 Volume Serial Number is FEFA-69F6

 Directory of C:\Users\d_cam\OneDrive\Documents\GitHub\COVID19\Data

06/17/2021  12:17 PM    <DIR>          .
06/17/2021  12:17 PM    <DIR>          ..
06/17/2021  12:02 PM           559,437 06-16-2021.csv
               1 File(s)        559,437 bytes
               2 Dir(s)  28,462,927,872 bytes free

In [4]:
#import and read CSVdata
daily_report = pd.read_csv('Data/06-16-2021.csv')

In [6]:
daily_report.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-17 04:22:36,33.93911,67.709953,93288,3683,62397.0,27208.0,Afghanistan,239.640318,3.947989
1,NaN,NaN,NaN,Albania,2021-06-17 04:22:36,41.15330,20.168300,132476,2454,129888.0,134.0,Albania,4603.377580,1.852411
2,NaN,NaN,NaN,Algeria,2021-06-17 04:22:36,28.03390,1.659600,134458,3598,93586.0,37274.0,Algeria,306.624406,2.675929
3,NaN,NaN,NaN,Andorra,2021-06-17 04:22:36,42.50630,1.521800,13836,127,13633.0,76.0,Andorra,17907.202485,0.917895
4,NaN,NaN,NaN,Angola,2021-06-17 04:22:36,-11.20270,17.873900,37094,847,31003.0,5244.0,Angola,112.863438,2.283388

In [7]:
list(daily_report.columns)

['FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key',
 'Incident_Rate',
 'Case_Fatality_Ratio']

In [8]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-17 04:22:36,33.939110,67.709953,93288,3683,62397.0,27208.0,Afghanistan,239.640318,3.947989
1,NaN,NaN,NaN,Albania,2021-06-17 04:22:36,41.153300,20.168300,132476,2454,129888.0,134.0,Albania,4603.377580,1.852411
2,NaN,NaN,NaN,Algeria,2021-06-17 04:22:36,28.033900,1.659600,134458,3598,93586.0,37274.0,Algeria,306.624406,2.675929
3,NaN,NaN,NaN,Andorra,2021-06-17 04:22:36,42.506300,1.521800,13836,127,13633.0,76.0,Andorra,17907.202485,0.917895
4,NaN,NaN,NaN,Angola,2021-06-17 04:22:36,-11.202700,17.873900,37094,847,31003.0,5244.0,Angola,112.863438,2.283388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979,NaN,NaN,NaN,Vietnam,2021-06-17 04:22:36,14.058324,108.277199,11794,61,4590.0,7143.0,Vietnam,12.116470,0.517212
3980,NaN,NaN,NaN,West Bank and Gaza,2021-06-17 04:22:36,31.952200,35.233200,312164,3544,304777.0,3843.0,West Bank and Gaza,6119.163777,1.135301
3981,NaN,NaN,NaN,Yemen,2021-06-17 04:22:36,15.552727,48.516388,6867,1351,3781.0,1735.0,Yemen,23.023561,19.673802
3982,NaN,NaN,NaN,Zambia,2021-06-17 04:22:36,-13.133897,27.849332,118850,1492,100423.0,16935.0,Zambia,646.487622,1.255364
3983,NaN,NaN,NaN,Zimbabwe,2021-06-17 04:22:36,-19.015438,29.154857,40556,1640,37075.0,1841.0,Zimbabwe,272.866845,4.043791

In [9]:
daily_report.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [11]:
World_Report = daily_report[['Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Recovered','Active', 'Deaths' ]]

In [12]:
World_Report

,Province_State,Country_Region,Last_Update,Confirmed,Recovered,Active,Deaths
0,NaN,Afghanistan,2021-06-17 04:22:36,93288,62397.0,27208.0,3683
1,NaN,Albania,2021-06-17 04:22:36,132476,129888.0,134.0,2454
2,NaN,Algeria,2021-06-17 04:22:36,134458,93586.0,37274.0,3598
3,NaN,Andorra,2021-06-17 04:22:36,13836,13633.0,76.0,127
4,NaN,Angola,2021-06-17 04:22:36,37094,31003.0,5244.0,847
...,...,...,...,...,...,...,...
3979,NaN,Vietnam,2021-06-17 04:22:36,11794,4590.0,7143.0,61
3980,NaN,West Bank and Gaza,2021-06-17 04:22:36,312164,304777.0,3843.0,3544
3981,NaN,Yemen,2021-06-17 04:22:36,6867,3781.0,1735.0,1351
3982,NaN,Zambia,2021-06-17 04:22:36,118850,100423.0,16935.0,1492
3983,NaN,Zimbabwe,2021-06-17 04:22:36,40556,37075.0,1841.0,1640

In [13]:
World_Report.sort_values(by='Province_State', ascending=True)

,Province_State,Country_Region,Last_Update,Confirmed,Recovered,Active,Deaths
291,Abruzzo,Italy,2021-06-17 04:22:36,74523,70658.0,1359.0,2506
41,Acre,Brazil,2021-06-17 04:22:36,84450,79110.0,3617.0,1723
496,Adygea Republic,Russia,2021-06-17 04:22:36,14805,14292.0,291.0,222
389,Aguascalientes,Mexico,2021-06-17 04:22:36,26672,0.0,24219.0,2453
313,Aichi,Japan,2021-06-17 04:22:36,50186,46542.0,2753.0,891
...,...,...,...,...,...,...,...
3979,NaN,Vietnam,2021-06-17 04:22:36,11794,4590.0,7143.0,61
3980,NaN,West Bank and Gaza,2021-06-17 04:22:36,312164,304777.0,3843.0,3544
3981,NaN,Yemen,2021-06-17 04:22:36,6867,3781.0,1735.0,1351
3982,NaN,Zambia,2021-06-17 04:22:36,118850,100423.0,16935.0,1492
3983,NaN,Zimbabwe,2021-06-17 04:22:36,40556,37075.0,1841.0,1640

In [14]:
World_Report.groupby(['Country_Region'])[['Province_State','Confirmed', 'Recovered','Active', 'Deaths']].sum()

                    Confirmed  Recovered   Active  Deaths
Country_Region
Afghanistan             93288    62397.0  27208.0    3683
Albania                132476   129888.0    134.0    2454
Algeria                134458    93586.0  37274.0    3598
Andorra                 13836    13633.0     76.0     127
Angola                  37094    31003.0   5244.0     847
...                       ...        ...      ...     ...
Vietnam                 11794     4590.0   7143.0      61
West Bank and Gaza     312164   304777.0   3843.0    3544
Yemen                    6867     3781.0   1735.0    1351
Zambia                 118850   100423.0  16935.0    1492
Zimbabwe                40556    37075.0   1841.0    1640

[193 rows x 4 columns]